.cardStyle{
  padding: 20px;
  border: 1px solid black;
  height: 150px;
  margin-top: 15px;
  width: 900px;
  margin-left: 450px;
  border-radius: 10px;
  font-size: 25px;
  border-width: 5px;
  box-shadow: 10px 10px 10px black;
}